:root.bdd-dark canvas {
    filter: invert() hue-rotate(180deg) !important;
}
/* Issue: this doesn't update unless the page is reloaded. 
   Seems to be an issue is :has implementation */
/* :root.bdd-dark .kix-appview-editor:not(:has(.kix-page-paginated)) {
    background-color: #f2f2f4 !important;
} */
:root.bdd-dark .kix-appview-editor[style="overflow-x: auto; background-color: rgb(255, 255, 255); height: 512px; cursor: text;"] {
    background-color: #f2f2f4 !important;
}
